* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* melhora o padding e a margin */
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

img.ImgHeader {
    width: auto;
    height: 30px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotaoHeader {
    border: 1.5px solid white;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    width: auto;
    height: auto;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 25px 10px;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.bloco{
    background-color: #ce1840;
    min-width: 250px;
    height: 200px;
    border: 2px solid #ce1840;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

footer{
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #ce1840;
}

@media(max-width: 425px) {
    .bloco{
        flex: 1 0 0;
        margin: 0 10vh;
    }
}

@media(max-width: 420px) {
    img.ImgHeader {
        width: auto;
        height: 20px;
    }

    .BotaoHeader {
        font-size: 12px;
    }

    footer {
        font-size: 12px;
    }

    .bloco{
        flex: 1 0 0;
    }
}

@media(max-width: 320px) {
    img.ImgHeader {
        width: auto;
        height: 18px;
    }

    .BotaoHeader {
        font-size: 10px;
    }

    footer {
        font-size: 10px;
    }
}

@media(max-width: 300px) {
    .bloco{
        background-color: #ce1840;
        min-width: 200px;
        height: 160px;
    }
}