* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* melhora o padding e a margin */
}

.container {
    background-color: gray;
    min-height: 100vh;
    display: grid; /* preenchetoda a tela */
    grid-template-columns: repeat(3, 1fr); /* fr ou % */
    gap: 10px 15px; /* espaçamento entre objetos */
    grid-auto-rows: minmax(80px, auto); /* altura min e max */
}

.bloco {
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
}

.item01 {
    grid-column: 1/4; /* linhas/ horizontal*/
}

.item02 {
    grid-row: 2/4; /* colunas/ vertical */
    grid-column: 1/3; /* linhas/ horizontal*/
}

.item05 {
    grid-column: 1/4; /* linhas/ horizontal*/
    grid-row: 4/6; /* colunas/ vertical */
}

.item07 {
    grid-column: 2/4; /* linhas/ horizontal*/
    grid-row: 6/8; /* colunas/ vertical */
}

.item09 {
    grid-column: 1/4; /* linhas/ horizontal*/
}